:root {
  --accent-dark-color: #662225; /*Красный лук*/
  --accent-bright-color: #b51d0a; /*Пряный*/
  --accent-light-color: #ead39c; /*Пастернак*/
  --accent-medium-color: #7d5e3c; /*Душистый перец*/

  --white-color: #ffffff
}
