:root {
  --accent-dark-color: rgb(201, 187, 183);
  --accent-bright-color: rgb(179, 29, 9);
  --accent-light-color: rgb(234, 210, 154);
  --accent-medium-color: rgb(240, 146, 46);

  --white-color: #ffffff;
  --black-color: #000000;
}
